@import "variables.css";
form {
    margin-top: 1rem;

    fieldset {
        padding: 1rem;
        border-radius: 1rem;

        div:not(:last-of-type) {
            margin-bottom: 0.25rem;
            * {
                display: block;
                width: 100%;
            }
        }

        button {
            padding: 0.5rem 2rem;
            font-family: var(--fontMain);
            font-size: 1rem;
            border-radius: 1rem;
            color: var(--colorSecondary);
            background-color: var(--colorBgMain);
            border: none;
        }
        
        label {
            font-size: 1rem;
        }
    }
}